{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Blog posts
      </h1>
      <div>
        <ul class="blog-posts-container">
          <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2018/01/31/all-about-accessibility/">All about accessibility</a></li>
          <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2018/01/10/plain-english-write-less-say-more/">Plain English... Write less, say more</a></li>
          <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2017/09/01/my-work-as-a-user-researcher/">How we design for internal services</a></li>
          <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2019/07/24/how-we-design-for-internal-services/">My work as a user researcher</a></li>
          <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2015/03/05/companies-house-user-research-lab/">User research lab</a></li>
        </ul>
      </div>
      <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">Showing 16 - 20 of 20 results</div>
        <ul class="pagination">
          <li class="pagination__item"><a class="pagination__link" href="3" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link" href="1" aria-label="Page 1">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="2" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="3" aria-label="Page 3">3</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 4, current page">4</a></li>
          <li class="pagination__item"><a class="pagination__link" href="4" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>
    </div>
</div>
{% endblock %}