{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Blog posts
      </h1>
      <ul class="blog-posts-container">
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.sharepoint.com/sites/CommsBlogs/SitePages/10-steps-to-accessible-content.aspx">10 steps to accessible content</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2021/05/20/why-we-should-all-care-about-accessibility/">Why we should all care about accessibility</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2021/02/26/the-changing-face-of-user-research/">The changing face of user research</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/12/29/we-need-your-help-with-our-distanced-user-research/">We need your help with our distanced user research</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/12/18/making-our-services-more-accessible/">Making our services more accessible</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/12/15/in-conversation-with-the-digital-accessibility-centre/">In vonersation with: the Digital Accessibility Centre</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/12/04/meeting-government-accessibility-regulations/">Meeting government accessibility regulations</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/10/08/working-in-companies-house-as-a-person-with-a-disability/">Working in Companies House as a person with a disability</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/03/17/user-research-panel-help-us-to-help-you/">User research panel: help us to help you</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/03/11/raising-awareness-of-accessible-design/">Raising awareness of accessible design</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2020/02/20/podcast-interaction-design-at-companies-house/">Podcast: Interaction Design at Companies House</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2019/07/24/how-we-design-for-internal-services/">How we design for internal services</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2019/07/12/user-research-wales-unconference-the-agenda-with-no-agenda/">User Research Wales Unconference: the agenda with no agenda</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2019/05/21/how-you-can-make-the-web-a-more-inclusive-place/">How we design for internal services</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2018/09/07/user-interaction-epic-fictional-fails/">User interaction: epic fictional fails</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2018/01/31/all-about-accessibility/">All about accessibility</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2018/01/10/plain-english-write-less-say-more/">Plain English... Write less, say more</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2017/09/01/my-work-as-a-user-researcher/">How we design for internal services</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2019/07/24/how-we-design-for-internal-services/">My work as a user researcher</a></li>
        <li class="govuk-heading-m blog-post"><a href="https://companieshouse.blog.gov.uk/2015/03/05/companies-house-user-research-lab/">User research lab</a></li>
      </ul>
    </div>
</div>
{% endblock %}