{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Guidance
      </h1>
      <ul>
        <li>
          <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a>  
        </li>        
        <li>
          <a href="https://w3c.github.io/aria-practices/">WAI-ARIA Authoring Practices 1.2</a>  
        </li>
        <li>
          <a href="https://www.wuhcag.com/web-content-accessibility-guidelines/">Web accessibility for developers</a>  
        </li>
        <li>
          <a href="https://www.a11yproject.com/">The a11y protject</a>  
        </li>
        <li>
          <a href="https://webaim.org/">Web accessibility in mind (WebAIM)</a>  
        </li>
        <li>
          <a href="https://www.a11yproject.com/">The a11y protject</a>  
        </li>
      </ul>
    </div>
</div>
{% endblock %}