{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Resources
      </h1>
      <ul>
        <li>
          <a href="resources/accessibility-checklist">Accessibility checklist</a>  
        </li>
        <li>
          <a href="resources/accessibility-checklist-page">Accessibility checklist (single page)</a>  
        </li>
        <li>
          <a href="resources/glossary">Glossary - Accessibile terminology</a>  
        </li>
      </ul>
    </div>
</div>
{% endblock %}
