{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Resources
      </h1>
      <ul>
        <li>
          <a href="resources/accessibility-checklist">Accessibility checklist</a>  
        </li>
        <li>
          <a href="resources/glossary">Glossary - Accessibile terminology</a>  
        </li>
        <li>
          <a href="https://alphagov.github.io/accessibility-personas/" target="_blank">Accessibility personas
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/b7d949c9-660c-4407-b694-af4f86441c28" target="_blank">Video 1: Immersive Reader Accessibility in Teams
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/54fa63fc-ac5b-4ffa-9cea-7fb5998f8245" target="_blank">Video 2: Translate Accessibility in Teams
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/05e1163e-2fe5-4ea0-9df4-5c681b236d0a" target="_blank">Video 3: Zoom Accessibility
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/65d1b4ee-89e6-4157-b8de-254a2fde58a9" target="_blank">Video 4: Colour Theme Accessibility
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/2bc09215-eb89-4c7e-844a-51f841001ae5" target="_blank">Video 5: Blur your background accessibility
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/28dd2cfa-958d-430a-b767-d6c3360edcff" target="_blank">Video 6: Live Captions Accessibility
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/884feecf-dd3b-4190-bcbf-e316d30b67d3" target="_blank">Video 7: Pinning Video in a Teams Meeting
        </li>
        <li>
          <a href="https://web.microsoftstream.com/video/9f0ed3d8-709d-4f0f-91cf-de24036db24d" target="_blank">Video 8: Dictate Accessibility
        </li>
      </ul>
    </div>
</div>
{% endblock %}
