
{% extends "layout.html" %}

{% block pageTitle %}
  Companies House onboarding hub
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Companies House accessibility Hub
      </h1>
      <p>
        At Companies House, our ambition is to build an inclusive, positive culture where everyone can bring their whole selves to work. 
        A culture that allows our brilliant people to flourish and drives high performance.
      </p>
      <div>
        <img src="/public/images/ch-diversity-inclusion.png" alt="Diversity and inclusion at Companies House is about being able to bring your whole brilliant self to work." width="100%">
      </div>
      <p>
        In the current circumstances, extra thought needs to given to making the most as a new starter with the best possible welome to Companies House.
      </p>
      <p>
        Moving into a new organisation is always an uncertain time, and you're never really sure what to expect. For many teams across the Civil
        Service, the arrival of lockdown meant rapid change; a possible reshuffling of resources or a shift in strategic priorities but almost certainly 
        the adoption of new working practices. 
      </p>
      <p>
        On this page are links to useful resources that will support new starters gain a greater understanding of their own needs and explore ways that
        accessibility adjustments can support them.
      </p>
      <h2 class="govuk-heading-m">
        Useful links
      </h2>
      <ul class="unordered-list">
        <li>
          <a href="https://www.gov.uk/access-to-work">Access to work</a>
        </li>
        <li>
          <a href="https://gcs.civilservice.gov.uk/blog/accessible-for-all-the-mods-journey/">Accessibility for all: The MOD's journey</a>
        </li>
        <li>
          <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/935990/Smarter_Working_-_learning_lessons_from_COVID-19.pdf">Smarter Working - Learning lessons from COVID</a>
        </li>
        <li>
          <a href="https://www.crowncommercial.gov.uk/news/enabling-home-working-options-in-the-public-sector">Enabling home working options</a>
        </li>
        <li>
          <a href="https://www.digital.govt.nz/standards-and-guidance/remote-working/digital-considerations-for-remote-working/access-to-tools-systems-and-information-for-remote-working/">Access to tools, systems and information for remote working</a>
        </li>
        <li>
          <a href="https://www.understood.org/en/workplace/coronavirus-resources/accessible-work-from-home-tools-coronavirus-outbreak">Accessible work-from-home tools for remote work during the coronavirus pandemic</a>
        </li>
        <li>
          <a href="https://www.scope.org.uk/advice-and-support/homeworking/">Working from home guidance</a>
        </li>
        <li>
          <a href="https://abilitynet.org.uk/news-blogs/ten-tech-hacks-help-disabled-people-working-home">Ten tech hacks for working from home</a>
        </li>
        <li>
          <a href="https://www.csmonitor.com/Business/2020/1027/For-those-with-disabilities-shift-to-remote-work-has-opened-doors-video">Ways remote working can be a disability accomodation</a>
        </li>
        <li>
          <a href="https://www.policyconnect.org.uk/blog/remote-working-and-disabled-employees-how-pandemic-brought-long-standing-issue-forefront">Remote working and employees with different abilities</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}