{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Blog posts
      </h1>
      <div>
        <ul class="blog-posts-container">
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.sharepoint.com/sites/CommsBlogs/SitePages/10-steps-to-accessible-content.aspx">10 steps to accessible content</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/10-steps-to-accessible-content.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie." width="620" height="410">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2021/05/20/why-we-should-all-care-about-accessibility/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2021/05/20/why-we-should-all-care-about-accessibility/">Why we should all care about accessibility</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/why-we-should-all-care-about-accessibility.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2021/05/20/why-we-should-all-care-about-accessibility/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2021/02/26/the-changing-face-of-user-research/">The changing face of user research</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/amanda-hooper/" title="Posts by Amanda Hooper - User Researcher" class="author url fn  govuk-!-margin-right-2" rel="author">Amanda Hooper - User Researcher</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 26 February 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/user-research-blog-post.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Find out how our user research team has adapted its ways of working over the last year.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2021/05/20/why-we-should-all-care-about-accessibility/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2020/12/29/we-need-your-help-with-our-distanced-user-research/">We need your help with distanced user research</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/sarah-combstock-user-researcher/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Sarah Combstock - User Researcher</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate="">29 December 2020</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/we-need-your-help-with-our-distanced-user-research.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Sarah discusses the effects of remote working on user research, and explains why we need your help to grow our user panel.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2021/05/20/why-we-should-all-care-about-accessibility/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2020/12/18/making-our-services-more-accessible/">Making our services more accessible</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/james-francis/" title="Posts by James Francis - Lead Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">James Francis - Lead Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/making-our-services-more-accessible.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Find out how accessible our services are, and what we're doing to promote accessibility within Companies House.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2020/12/18/making-our-services-more-accessible/">Read more</a>
            </div>
          </li>
        </ul>
      </div>
      {# https://design.homeoffice.gov.uk/components/pagination #}
      <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">Showing 1 - 5 of 20 results</div>
        <ul class="pagination">
          <li class="pagination__item"><a class="pagination__link" aria-label="Previous page" inactive><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="1" aria-current="true" aria-label="Page 1, current page">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="2" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="3" aria-label="Page 3">3</a></li>
          <li class="pagination__item"><a class="pagination__link" href="4" aria-label="Page 4">4</a></li>
          <li class="pagination__item"><a class="pagination__link" href="2" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>
    </div>
</div>
{% endblock %}