{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Blog posts
      </h1>
      <div>
        <ul class="blog-posts-container">
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2018/01/31/all-about-accessibility/">All about accessibility</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/all-about-accessibility.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie." width="620" height="410">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2018/01/31/all-about-accessibility/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2018/01/10/plain-english-write-less-say-more/">Plain English... Write less, say more</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/plain-english-write-less-say-more.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2018/01/10/plain-english-write-less-say-more/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2017/09/01/my-work-as-a-user-researcher/">My work as a user researcher</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/my-work-as-a-user-researcher.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2017/09/01/my-work-as-a-user-researcher/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2019/07/24/how-we-design-for-internal-services/">How we design for internal services</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/how-we-design-for-internal-services.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2019/07/24/how-we-design-for-internal-services/">Read more</a>
            </div>
          </li>
          <li class="govuk-heading-m blog-post">
            <div>
              <a href="https://companieshouse.blog.gov.uk/2015/03/05/companies-house-user-research-lab/">User research lab</a>
            </div>
            <div class="govuk-body-s flex-nowrap govuk-!-margin-top-2 govuk-!-margin-bottom-0">
              <span class="govuk-visually hidden">Posted by: </span>
              <div><a href="https://companieshouse.blog.gov.uk/author/jason-deakin-interaction-designer/" title="Posts by Jason Deakin - Interaction Designer" class="author url fn  govuk-!-margin-right-2" rel="author">Jason Deakin - Interaction Designer</a></div>
              <div><span class="govuk-visually-hidden">Posted on: </span></div>
              <div><time class="updated" datetime="2021-05-20T11:30:46+01:00" pubdate=""> 20 May 2021</time></div>
            </div>
            <div class="govuk-body-s flex-nowrap">
              <span class="govuk-visually-hidden">Categories: </span>
              <div><a href="https://companieshouse.blog.gov.uk/category/digital-transformation/" rel="category tag">Digital transformation</a>,</div>
              <div><a href="https://companieshouse.blog.gov.uk/category/working-at-companies-house/" rel="category tag">Working at Companies House</a></div>
            </div>
            <div>
              <img src="/public/images/user-research-lab.jpg" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
            </div>
            <div>
              <p>Here, interaction designer Jason writes about the importance of accessibility, and explains why Companies House is committed to designing inclusive and accessible services.</p>
            </div>
            <div class=" govuk-!-margin-bottom-3">
              <a class="govuk-link govuk-body-m" href="https://companieshouse.blog.gov.uk/2015/03/05/companies-house-user-research-lab/">Read more</a>
            </div>
          </li>
        </ul>
      </div>
      <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">Showing 16 - 20 of 20 results</div>
        <ul class="pagination">
          <li class="pagination__item"><a class="pagination__link" href="3" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link" href="1" aria-label="Page 1">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="2" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="3" aria-label="Page 3">3</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 4, current page">4</a></li>
          <li class="pagination__item"><a class="pagination__link" href="4" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>
    </div>
</div>
{% endblock %}