
{% extends "layout.html" %}

{% block pageTitle %}
  Companies House accessibility Hub
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Companies House accessibility Hub
      </h1>
      <p>
        A collection of accessibility resources
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">What is accessibility?</h2>
      <p class="govuk-content">
        The focus of web accessibility is to help all users to perceive, understand, navigate, interact with and contribute to digital services. In other words, the aim
        is to ensure content is Perceivable, Operable, Understandable and Robust (POUR).
      </p>
      <h2 class="govuk-heading-m">Why should I care about accessibility?</h2>
      <p>
        Following user centred design principles that recognise the importance of
        accessibility is fundamental to creating digital experiences that can be enjoyed by all.
      </p>
      <h2 class="govuk-heading-m">What can I do about accessibility?</h2>
      <p>
        See the Guidance, Resources and Blog.
      </p>
    </div>
  </div>

{% endblock %}
